<!-- Logo -->
<aside id="logo" class="clearfix">
    <a href="{{ root_url}}/" title="{{ site.title }}"><img src="{{ root_url }}/images/logo-js-env.png" alt="{{ site.title }}"/> </a>
</aside>

<ul id="menu">
{% if site.subtitle %}
  <li class="subtitle">
    <h1 id="subtitle">{{ site.subtitle }}</h1>
  </li>
{% endif %}
  <li class="link">
    <a href="/sobre/">sobre</a>
  </li>
  <li class="link">
    <a href="/blog/archives/">posts</a>
  </li>
{% if site.twitter_user %}
  <li class="link">
    <a href="http://twitter.com/{{ site.twitter_user }}/">twitter</a>
  </li>
{% endif %}
{% if site.github_user and site.github_show_profile_link %}
  <li class="link">
    <a href="http://github.com/{{ site.github_user }}/">github</a>
  </li>
{% endif %}
  <li class="link rss">
    <a href="/atom.xml">rss feed</a>
  </li>
</ul>

{% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
{% endif %}

<!-- Octopress Love -->
<aside id="octopress_linkback">
  <p>Idealizado <a href="https://twitter.com/ogmoura" title="Guilherme Moura Nascimento" >@ogmoura</a> e <a href="https://twitter.com/Lezado" title="Leandro Cavalcante">@Lezado</a></p>
</aside>
